amflow/*
!AMFlow_defs.m
!generate_AMFlow_data.wl
secdec/*
feyntrop/*
plots/*
build/*
old/*

HVPpy.egg-info
HVPpy/__pycache__
HVP.log
star_point_integrals.json
HVPpy/series_expansion.py

scripts/series*
!scripts/series.wl
!scripts/series.sh
scripts/generate_plots.sage.py

generate_figs/tikz/*
generate_figs/*
!generate_figs/*.tex
!generate_figs/*.sty
